<h2><p>GAME-KU</p></h2>

<table class="table" border="4">
    <tbody>
      <tr>
        <th scope="row">Nama Perusahaan</th>
      <td><b>game-ku</b></td>
      </tr>
      <tr>
        <th scope="row">penjelasan</th>
      <td><b>gameKu merupakan sebuah web sederhana mengenai pertandingan sepakbola. Apabila diakses akan menampilkan profil,jadwal pertandingan,hasil pertandingan,dan akan menampilkan point dari masing masing team. </b></td>
      </tr>
      <tr>
        <th scope="row">Tujuan</th>
      <td><b>Tujuan web ini adalah untuk memberitahukan jadawal pertandingan dan hasi point masing masing Team</b></td>
      </tr>
      <tr>
        <th scope="row">manfaat web</th>
      <td><b>untuk membantu orang lain dalam menemukan jadwal pertandingan serta point masing masing team</b></td>
      </tr>
    </tbody>
  </table>
